.card {
    width: 425px;
    height: auto;
    border-radius: 15px;
    border-color: white;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 25px;

    .card-section {
        display: flex;
        flex-direction: column;
        width: 75%
        
    }
    .form-input {
        padding: 7px;
    }
    .exp-cvv{
        display: flex;
        gap: 10%;
    }

    // label {
    //     color: black;
    // }
}

.btn {
    margin-top: 10px;
    width: 100%;
}