<div [formGroup]="formGroup" class="card">
  <div class="card-section">
    <input class="form-input" formControlName="cardNumber" placeholder="9999 9999 9999 9999">
    <label class="form-label">Card Number</label>
  </div>
  <div class="card-section">
    <input class="form-input" formControlName="cardHolderName" placeholder="John Doe">
    <label class="form-label">Cardholder Name</label>
  </div>
  <div class="exp-cvv">
    <div class="card-section">
      <input class="form-input" style="width: 60%;" formControlName="expiryDate" placeholder="MM/YYYY">
      <label class="form-label">Expiration</label>
    </div>
    <div class="card-section">
      <input class="form-input" style="width: 40%;" formControlName="cvv" placeholder="CVV">
      <label class="form-label">CVV</label>
    </div>
  </div>
</div>
