<form class="add-movie-form">

    <h2 class="add-movie-heading">Add Movie</h2>

    <div class="add-movie-inputs">
        <label class="form-label">Title<p style="color: red;">*</p></label>
        <input class="registration-input form-control" placeholder="Title">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Category<p style="color: red;">*</p></label>
        <input class="registration-input form-control" placeholder="Category">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Cast</label>
        <input class="registration-input form-control" placeholder="Cast">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Director(s)</label>
        <input class="registration-input form-control" placeholder="Director(s)">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Producer(s)</label>
        <input class="registration-input form-control" placeholder="Producer(s)">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Synopsis</label>
        <input class="registration-input form-control" placeholder="Synopsis">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Trailer URL<p style="color: red;">*</p></label>
        <input class="registration-input form-control" placeholder="Trailer URL">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Image URL<p style="color: red;">*</p></label>
        <input class="registration-input form-control" placeholder="Image URL">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">MPAA-US Rating Code<p style="color: red;">*</p></label>
        <input class="registration-input form-control" placeholder="Rating Code">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Release Date<p style="color: red;">*</p></label>
        <input type="date" class="registration-input form-control">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Duration (Hours)<p style="color: red;">*</p></label>
        <input class="registration-input form-control" placeholder="Hours">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Duration (Minutes)<p style="color: red;">*</p></label>
        <input class="registration-input form-control" placeholder="Minutes">
    </div>

    <div class="add-movie-inputs">
        <label class="form-label">Select Showtime(s)<p style="color: red;">*</p></label>
        <input type="datetime-local" class="registration-input form-control" style="margin-bottom: 15px;">
        <button class="btn btn-primary">Add Showtime</button>
    </div>

    <button class="btn btn-primary">Add Movie</button>
</form>
