<form class="forgot-password" (ngSubmit)="onSubmit()">
    <div class="forgot-password-heading">
        <h2>Forgot Password</h2>
    </div>
    <div class="email-input">
        <label class="form-label">Email</label>
        <input class="form-control" [(ngModel)]="email" name="email" placeholder="example@gmail.com">
    </div>
    <label class="form-label">A password reset link will be sent to your email. Upon resetting, please try to log in again.</label>
    <div class="save-button">
        <button class="btn btn-primary" type="submit">Send Reset Link</button>
    </div>
</form>