<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Movie Booking</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
    </ul>
  </div>
</nav> -->

  <app-header *ngIf="!authService.isAuthenticated()"></app-header>
   <app-header-2 *ngIf="authService.isAuthenticated()"></app-header-2>
   <!-- <app-login></app-login> -->
   <!-- <app-registration></app-registration> -->
   <!-- <app-edit-profile></app-edit-profile>  -->
  <!-- <app-order-details></app-order-details> -->
  <!-- <app-admin-portal></app-admin-portal> -->
  <!-- <app-add-movie></app-add-movie> -->
  <!-- <app-edit-movie></app-edit-movie> -->
  <!-- <app-checkout></app-checkout> -->
  <!-- <app-change-password></app-change-password> -->
   <!-- <app-forgot-password></app-forgot-password> -->
   <!-- <app-reset-password></app-reset-password> -->
  <!-- <app-verify-account></app-verify-account> -->
  <!-- <app-manage-promotions></app-manage-promotions> -->
  <!-- <app-manage-movies></app-manage-movies> -->
  <router-outlet/>