<form class="change-password" (ngSubmit)="onSubmit()">
    <div class="change-password-heading">
        <h2>Change Password</h2>
    </div>
    <div class="password-inputs">
        <label class="form-label">Current Password</label>
        <input class="form-control" type="password" [(ngModel)]="currentPassword" name="currentPassword" placeholder="Current Password">
    </div>
    <div class="password-inputs">
        <label class="form-label">New Password</label>
        <input class="form-control" type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password">
    </div>
    <div class="password-inputs">
        <label class="form-label">Confirm Password</label>
        <input class="form-control" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
    </div>
    <div class="save-button">
        <button class="btn btn-primary">Save Password</button>
    </div>
</form>