<div class="promotions">
    <div class="manage-promos">
        <h2 class="heading">Manage Promotions</h2>
        <div class="promo">
            <p>promo1</p>
            <button class="btn btn-primary">Send</button>
            <button class="btn btn-primary">Delete</button>
        </div>
        <div class="promo">
            <p>promo2</p>
            <button class="btn btn-primary">Send</button>
            <button class="btn btn-primary">Delete</button>
        </div>
        <div class="promo">
            <p>promo3</p>
            <button class="btn btn-primary">Send</button>
            <button class="btn btn-primary">Delete</button>
        </div>

    </div>
    <div class="add-promos">
        <h2 class="heading">Add Promotions</h2>
        <label class="form-label">Code</label>
        <input class="form-control" placeholder="Code">
        <label class="form-label">Discount %</label>
        <input class="form-control" placeholder="Discount">
        <label class="form-label">Start Date</label>
        <input type="date" class="form-control">
        <label class="form-label">End Date</label>
        <input type="date" class="form-control">
        <button class="btn btn-primary">Add</button>
    </div>
</div>
