/* Header styles */
.header {
  background-color: #e95a5a; /* Green color */
  color: rgb(0, 0, 0);
  padding: 10px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 15px;
  font-size: 1.2rem; /* Increase font size for links */
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar span {
  margin-right: 20px;
  font-size: 1.2rem; /* Increase font size for user name */
}

/* Container styles */
.container {
  background-color:#f8f9fa; /* Changed background color to black */
  color: rgb(0, 0, 0);
  padding: 30px;
  margin: 30px auto;
  width: 70%; /* Increased width */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2 {
  font-size: 2rem; /* Increase heading size */
}

label {
  font-size: 1.5rem; /* Same size as "Barbie" */
}

select {
  padding: 15px;
  font-size: 1.5rem; /* Larger font to match "Barbie" */
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px 0;
}

button {
  padding: 15px 25px;
  background-color: #e95a5a; /* Change button color to green */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem; /* Increase button font size */
}

button:hover {
  background-color: #e72929; /* Darker green on hover */
}

.details h3 {
  font-size: 1.5rem; /* Increase font size for details section */
}

.details p {
  font-size: 1.2rem; /* Increase font size for selected showtime */
}



