.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

    .login-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;


        .login-heading {
            padding-bottom: 20%;
        }

        .email-group {
            padding-bottom: 10%;
            width: 100%;
        }

        .password-group {
            padding-bottom: 10%;
            width: 100%;
        }

        .forgot-password {
            padding-top: 5%;
        }

        .dont-have-account{
            padding-top: 5%;
        }

        .remember{
            padding-top: 5%;
            display: flex;
            gap: 10px;
        }
    }
}