<form class="login-form" (ngSubmit)="onSubmit()">
  <div class="login-details">
    <h2 class="login-heading">Login</h2>
    <div class="form-group email-group">
      <input
        class="form-control email-input"
        [(ngModel)]="email"
        name="email"
        placeholder="Email address"
        required
      />
    </div>
    <div class="form-group password-group">
      <input
        class="form-control"
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Password"
        required
      />
    </div>
    <button class="btn btn-primary login-btn">Log In</button>
    <div class="remember">
      <input class="form-check-input" type="checkbox" [(ngModel)]="rememberMe" name="rememberMe">
      <label class="form-check-label">
        Remember Me
      </label>
    </div>
    <a class="forgot-password" routerLink="/forgot-password">Forgot Password?</a>
    <p class="dont-have-account">
      Don't have an account?
      <a routerLink="/register">Register Now</a>
    </p>
  </div>
</form>