<div class="order-details">
    <div class="order-container">
        <h2 class="thank-you">Thank you!</h2>
        <h4 class="order-headings">Order Details</h4>
        <p>Booking Number: 0</p>
        <p>Ordered on: 9/16/2024</p>
        <p>Movie: Spider-man</p>
        <p>Seat(s): B1, B2, B3</p>
        <h4 class="order-headings">Order Total</h4>
        <div class="prices">
            <div class="price-category">
                <p class="price-text">Child:</p>
                <p class="price-text">Adult:</p>
                <p class="price-text">Senior:</p>
                <p class="price-text">Booking Fees:</p>
                <p class="price-text">Tax:</p>
                <p class="price-text">Total:</p>
            </div>
            <div class="price">
                <p class="price-text">$5</p>
                <p class="price-text">$10</p>
                <p class="price-text">$0</p>
                <p class="price-text">$1</p>
                <p class="price-text">$2</p>
                <p class="price-text">$17</p>
            </div>
        </div>
    </div>
    <p>Please check your email for Order Confirmation details.</p>
</div>