
    .registration-form {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
    
        .registration-heading{
            display: flex;
            justify-content: center;
            padding-bottom: 5%;
        }
    
        .registration-inputs-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 5%;
            padding-bottom: 5%;
    
            .reg-input-label{
                width: 100%;
    
                .form-label{
                    margin-left: 10px;
                }
            }
        }
    
        .sign-up-promos {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 2rem;
            
            .promo-checkbox {
                margin-right: 10px;
            }
        }
    
        .payment{
            display: flex;
            gap: auto;
            justify-content: center;
            gap: 5%;
            padding-bottom: 30px;
    
            .pay-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                margin-bottom: 20px;
            }

            .payment-button {
                display: flex;
                flex-direction: column;
            }
        }
    
        .register {
            display: flex;
            justify-content: center;
        }

        .remove-card-btn {
            background-color: red; 
            border-color: red;

        }
        .remove-card-btn:hover {
            transform: scale(1.1);  /* Expands the button */
            box-shadow: 0 0 15px red;  /* Glowing white border */
        }

        .add-card-btn {
            width: 425px;
            background-color: blue; 
            border-color: blue;
            margin-bottom: 30px;


        }
        .add-card-btn:hover {
            transform: scale(1.1);  /* Expands the button */
            box-shadow: 0 0 15px blue;  /* Glowing white border */
        }
     
    }


p {
    display: inline;
}