<div class="manage-movies">
    <div class="manage-movies-heading">
        <h2>Manage Movies</h2>
    </div>
    <div class="add-movie-button">
        <button class="btn btn-primary">Add Movie</button>
    </div>
    <div class="edit-movie">
        <label class="form-label">Or, choose a movie to manage</label>
        <select class="movie-dropdown form-select" name="Choose Movie">
            <option>Movie 1</option>
            <option>Movie 2</option>
            <option>Movie 3</option>
            <option>Movie 4</option>
            <option>Movie 5</option>
        </select>
        <div class="manage-buttons">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-primary" style="background-color: red;">Delete</button>
        </div>
    </div>
</div>