.reset-password {
    display: flex;
    flex-direction: column;
    padding: 5%;


    .reset-password-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }


    .password-inputs {
        width: 25%;
        padding-bottom: 25px;

        .form-label {
            margin-left: 10px;
        }
    }

    .save-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}