<form class="reset-password" (ngSubmit)="onSubmit()">
    <div class="reset-password-heading">
        <h2>Reset Password</h2>
    </div>
    <div class="password-inputs">
        <label class="form-label">New Password</label>
        <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="New Password">
    </div>
    <div class="password-inputs">
        <label class="form-label">Confirm Password</label>
        <input class="form-control" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
    </div>
    <div class="save-button">
        <button class="btn btn-primary" type="submit">Save Password</button>
    </div>
</form>