<form class="edit-movie-form">

    <h2 class="edit-movie-heading">Edit Movie</h2>

    <div class="edit-movie-inputs">
        <label class="form-label">Title</label>
        <input class="registration-input form-control" placeholder="Title">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Category</label>
        <input class="registration-input form-control" placeholder="Category">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Cast</label>
        <input class="registration-input form-control" placeholder="Cast">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Director(s)</label>
        <input class="registration-input form-control" placeholder="Director(s)">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Producer(s)</label>
        <input class="registration-input form-control" placeholder="Producer(s)">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Synopsis</label>
        <input class="registration-input form-control" placeholder="Synopsis">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Trailer URL</label>
        <input class="registration-input form-control" placeholder="Trailer URL">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Image URL</label>
        <input class="registration-input form-control" placeholder="Image URL">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">MPAA-US Rating Code</label>
        <input class="registration-input form-control" placeholder="Rating Code">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Release Date</label>
        <input type="date" class="registration-input form-control">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Duration (Hours)</label>
        <input class="registration-input form-control" placeholder="Hours">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Duration (Minutes)</label>
        <input class="registration-input form-control" placeholder="Minutes">
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Select Showtime(s)</label>
        <input type="datetime-local" class="registration-input form-control" style="margin-bottom: 15px;">
        <button class="btn btn-primary">Add Showtime</button>
    </div>

    <div class="edit-movie-inputs">
        <label class="form-label">Delete Showtime(s)</label>
        <select class="showtime-dropdown form-select" name="Current Showtime(s)">
            <option>Showtime 1</option>
            <option>Showtime 2</option>
        </select>
        <button class="btn btn-primary" style="background-color: red;">Delete Showtime</button>
    </div>

    <button class="btn btn-primary">Save Changes</button>
</form>
