/* 
.movie-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}


.poster {
  flex: 1;
  margin-right: 20px;
}

.poster-img {
  max-width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.details {
  flex: 2;
}

.details h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.details p {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

iframe {
  margin-top: 20px;
  width: 100%;
  max-width: 560px;
  height: 315px;
} */


/* General styling for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0%;
  padding: 0;
  overflow-x: hidden;
}

.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

/* Styling for the movie details */

.movie-details-container {
  display: flex;
  gap: 5%;
  width: 100%;
}

.movie-details {
  max-width: 1200px;
  /* margin: 50px auto; */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styling for the movie title */
.movie-title {
  font-size: 36px;
  font-weight: bold;
  color: #e95a5a;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

/* Styling for the category, below the movie title */
.category {
  text-align: center;
  font-size: 24px;
  color: #e72929;
  margin-bottom: 15px;
}

/* Movie content container to position image and info side by side */
.movie-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

/* Movie poster styling */
.movie-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.movie-poster img {
  width: 350px;
  height: 500px;
  border-radius: 8px;
}

/* Movie info styling */
.movie-info {
  flex: 0 0 60%; /* Occupies 60% of the container */
  padding-left: 20px;
}

.movie-info p {
  font-size: 18px;
  margin: 5px 0;
}

/* Highlight for Director, Cast, and Rating */
strong {
  color: #e72929;
}

/* Styling for the movie description */
.movie-description {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  text-align: justify;
}

/* Styling for the trailer */
.movie-trailer {
  margin-top: 30px;
  margin-bottom: 5%;
  display: flex;
  width: 100%;
}

.movie-trailer iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 8px;
}

/* Responsive behavior for smaller screens */
@media screen and (max-width: 768px) {
  /* Stack content vertically on smaller screens */
  .movie-details {
    flex-direction: column;
    align-items: center;
  }

  /* Ensure full width for smaller screens */
  .movie-poster,
  .movie-info {
    width: 100%;
    max-width: 100%;
  }

  /* Trailer should take full width on smaller screens */
  .movie-trailer iframe {
    width: 100%;
    height: auto;
  }
}
